/*body {
    background-image: url("../img/background.jpg");
}*/

/*.Container {
    background: transparent;
    text-align:center
}*/

#headspace {
    border: solid black;
    text-align: center;
}

#top {
    width: 100%;
    border: solid yellow;
}

#topLeft {
    margin-left: 20%;
    width: 30%;
    border: solid blue;
    display: inline-block;
    vertical-align: top
}

#topRight {
    border: solid red;
    display: inline-block;
    vertical-align: top
}

#bottom {
    border: solid green;
    background-color: rgba(0,255,255, 0.5);
}

#footspace {
    border: solid black;
    text-align: center;
}

#top {
    display: inline-block;
}

.ProjectTitle {
    display: inline-block;
}

.ProjectDescription {
    display: inline-block;
}
